.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.965332;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.965332;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.976074;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.976074;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.245600px;}
.ls3{letter-spacing:-0.234400px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.111200px;}
.ls6{letter-spacing:0.201600px;}
.ls5{letter-spacing:0.245600px;}
.ls4{letter-spacing:0.257200px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-4.520000px;}
._0{margin-left:-1.059840px;}
._1{width:87.720000px;}
._2{width:126.135680px;}
.fc2{color:rgb(0,0,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(54,95,145);}
.fs1{font-size:44.160000px;}
.fs0{font-size:48.000000px;}
.y1{bottom:0.000000px;}
.y1f{bottom:117.500000px;}
.y1e{bottom:137.900000px;}
.y1d{bottom:153.380000px;}
.y0{bottom:169.500000px;}
.y1c{bottom:176.660000px;}
.y1b{bottom:222.860000px;}
.y1a{bottom:238.490000px;}
.y19{bottom:258.650000px;}
.y18{bottom:274.130000px;}
.y17{bottom:294.410000px;}
.y16{bottom:309.890000px;}
.y15{bottom:330.170000px;}
.y14{bottom:353.570000px;}
.y13{bottom:399.890000px;}
.y12{bottom:415.390000px;}
.y11{bottom:435.550000px;}
.y10{bottom:455.950000px;}
.yf{bottom:471.430000px;}
.ye{bottom:491.710000px;}
.yd{bottom:507.190000px;}
.yc{bottom:522.550000px;}
.yb{bottom:537.910000px;}
.ya{bottom:558.190000px;}
.y9{bottom:573.670000px;}
.y8{bottom:593.980000px;}
.y7{bottom:617.380000px;}
.y6{bottom:663.700000px;}
.y5{bottom:679.180000px;}
.y4{bottom:699.340000px;}
.y3{bottom:719.740000px;}
.y2{bottom:743.140000px;}
.h3{height:33.766875px;}
.h2{height:36.679688px;}
.h1{height:568.000000px;}
.h0{height:841.920000px;}
.w1{width:471.000000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x0{left:83.500000px;}
.x2{left:85.103991px;}
.x3{left:103.099991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.327467pt;}
.ls3{letter-spacing:-0.312533pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.148267pt;}
.ls6{letter-spacing:0.268800pt;}
.ls5{letter-spacing:0.327467pt;}
.ls4{letter-spacing:0.342933pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-6.026667pt;}
._0{margin-left:-1.413120pt;}
._1{width:116.960000pt;}
._2{width:168.180907pt;}
.fs1{font-size:58.880000pt;}
.fs0{font-size:64.000000pt;}
.y1{bottom:0.000000pt;}
.y1f{bottom:156.666667pt;}
.y1e{bottom:183.866667pt;}
.y1d{bottom:204.506667pt;}
.y0{bottom:226.000000pt;}
.y1c{bottom:235.546667pt;}
.y1b{bottom:297.146667pt;}
.y1a{bottom:317.986667pt;}
.y19{bottom:344.866667pt;}
.y18{bottom:365.506667pt;}
.y17{bottom:392.546667pt;}
.y16{bottom:413.186667pt;}
.y15{bottom:440.226667pt;}
.y14{bottom:471.426667pt;}
.y13{bottom:533.186667pt;}
.y12{bottom:553.853333pt;}
.y11{bottom:580.733333pt;}
.y10{bottom:607.933333pt;}
.yf{bottom:628.573333pt;}
.ye{bottom:655.613333pt;}
.yd{bottom:676.253333pt;}
.yc{bottom:696.733333pt;}
.yb{bottom:717.213333pt;}
.ya{bottom:744.253333pt;}
.y9{bottom:764.893333pt;}
.y8{bottom:791.973333pt;}
.y7{bottom:823.173333pt;}
.y6{bottom:884.933333pt;}
.y5{bottom:905.573333pt;}
.y4{bottom:932.453333pt;}
.y3{bottom:959.653333pt;}
.y2{bottom:990.853333pt;}
.h3{height:45.022500pt;}
.h2{height:48.906250pt;}
.h1{height:757.333333pt;}
.h0{height:1122.560000pt;}
.w1{width:628.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x0{left:111.333333pt;}
.x2{left:113.471988pt;}
.x3{left:137.466655pt;}
}
